body {
  font-family: "Source Sans Pro", sans-serif;
}

:root {
  font-size: 18px;
}

.container {
  max-width: 1400px;
  margin: 0 auto;
}

.grid-footer {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

section {
  max-width: 1200px;
  margin: 0 auto;
}

header {
  background-image: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.4)),
    url("../images/quentin-tarantino.png");
  background-repeat: no-repeat;
  background-size: cover;
  text-align: center;
  padding: 200px 0;
}

header h1,
header h2,
header h3 {
  color: rgba(255, 255, 255, 0.8);
}

header h3 {
  letter-spacing: 5px;
  line-height: 1.5;
}
header h1 {
  font-size: 3.5rem;
  letter-spacing: 2px;
  line-height: 1;
}
header h2 {
  letter-spacing: 3px;
  font-weight: 300;
  padding-bottom: 30px;
  line-height: 1.5;
}

header .learn-more {
  background: rgba(255, 255, 255, 0.8);
  padding: 16px 32px;
  font-weight: 300;
  text-decoration: none;
  color: black;
  text-transform: uppercase;
  letter-spacing: 2px;
  line-height: 1.5;
  border-radius: 10px;
  transition: all 150ms ease-in-out;
}

header .learn-more:hover {
  background: white;
}

main {
  margin: 100px 0;
}

.grid-two-columns {
  display: grid;
  grid-template-columns: 1fr 3fr;
  grid-gap: 50px;
}

.first-section img {
  max-width: 500px;
}

.first-section h3 {
  margin: 0;
  font-style: italic;
  opacity: 0.6;
}

.first-section h2 {
  margin: 0;
  opacity: 0.8;
}

.first-section p {
  font-size: 0.9rem;
  opacity: 0.9;
}

footer {
  background-image: linear-gradient(rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.8)),
    url("../images/Tarantino-mural.png");
  background-repeat: no-repeat;
  background-size: cover;
  padding: 30px 0;
}

footer h3 {
  color: white;
}

footer ul {
  color: white;
  padding: 0;
}

footer li {
  list-style: none;
  line-height: 1.5;
}

footer a {
  color: white;
  opacity: 0.7;
}

footer p {
  color: white;
  opacity: 0.7;
}

@media (max-width: 960px) {
  header {
    padding: 80px 0;
  }
  header h1 {
    font-size: 2rem;
  }
  header h2 {
    font-size: 1rem;
  }
  header h3 {
    font-size: 0.8rem;
  }
  header .learn-more {
    padding: 10px 8px;
    font-size: 0.7rem;
  }
  footer {
    font-size: 0.7rem;
    padding: 0 30px;
  }

  .grid-two-columns {
    grid-template-columns: 1fr;

    text-align: center;
  }

  .first-section img {
    max-width: 400px;
  }

  .first-section h3 {
    font-size: 0.8rem;
  }

  .first-section h2 {
    font-size: 0.9;
  }

  .first-section p {
    font-size: 0.7rem;
  }
}
